[Unit]
Description=Nuclear Football
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/startx /usr/bin/npm run start --prefix /var/nuclear-football-v2/start-electron.sh
WorkingDirectory=/var/nuclear-football-v2
Restart=on-failure
User=dietpi
StandardError=append:/var/log/nuclear-football-error.log
Environment=DISPLAY=:0
Environment=NODE_ENV=production
Environment=XAUTHORITY=/home/dietpi/.Xauthority

[Install]
WantedBy=graphical.target
